
Appetites.xcodeproj/project.xcworkspace/xcuserdata/chavinpanicharoen.xcuserdatad/UserInterfaceState.xcuserstate
Appetites.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Appetites/Assets.xcassets/.DS_Store
.DS_Store
